<%- include('../header') %>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">View subcategory</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Category Name</th>
                                    <th scope="col">Category Image</th>
                                    <th scope="col">Subcategory Name</th>
                                    <th scope="col">Extra SubCategoryName</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% extrasubcategoryes.forEach((extrasubcategory,i)=>{%>
                                    <tr>
                                        <td>
                                            <%= i+1 %>
                                        </td>
                                        <td>
                                            <%= extrasubcategory.CategoryId.Categoryname %>
                                        </td>
                                        <td>
                                            <img src=" <%= extrasubcategory.CategoryId.CategoryImage %>" width="70"
                                                alt="">
                                        </td>
                                        <td>
                                            <%= extrasubcategory.SubCategoryId.SubCategoryName %>
                                        </td>
                                        

                                        <td>
                                            <%= extrasubcategory.ExtraSubCategoryname %>
                                        </td>

                                        <td>
                                            <a
                                                href="/extrasubcategory/delete-extrasubcategory/<%= extrasubcategory._id %>"><button
                                                    type="button" class="btn btn-danger">Delete</button></a>
                                            <a
                                                href="/extrasubcategory/edit-extrasubcategory/<%= extrasubcategory._id %>"><button
                                                    type="button" class="btn btn-primary">Edit</button></a>
                                        </td>

                                        <% })%>
                                    </tr>



                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <%- include('../footer') %>